<section id="circuits" *ngIf="error.length === 0">
   <table>
       <thead>
         <tr>
           <th>Lp</th>
           <th>Nazwa</th>
           <th *ngFor="let candidate of response.candidates">{{ candidate }}</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let circuit of response.circuits; let i = index">
           <td>{{ i + 1 }}</td>
           <td *ngIf="isLogged"><a [routerLink]="'/circuit/' + circuit.id">{{ circuit.address }}</a></td>
           <td *ngIf="!isLogged">{{ circuit.address }}</td>
           <td *ngFor="let v of circuit.votes">{{ v }}</td>
         </tr>
     </tbody>
   </table>
</section>

<section *ngIf="error">
  <div class="alert alert-danger">Pobieranie obwodów - {{error}}.</div>
</section>
